@media screen and (max-width: 950px) {
    .e_box{
      flex-direction: column;
      align-items: center;
    }

    .e_box button{
    width: 130px;
    border-radius: 0;
    font-size: 16px;
    padding: 10px  0;
    margin-top: 20px;
}

.box{
  flex-direction: column;
}

.tv_text{
  width: 100%;
  text-align: center;
}
.tv_text h2{
  width: 100%;
}

.i_box{
  margin-top: 0;
  width: 100%;
}

.download_box{
  order: 2;
}

.download_image{
  margin: 0;
}


.d_text{
   order: 1;
}


.only{
  text-align: center;
}

.only h2{
  width: 100%;
  }

  .kids_img{
    order: 2;
    margin-right: 0;
  }

  .kids_text{
    order: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .accordion{
    width: 100%;
  }

  .sub input{
    border-radius: 0px;
  }

}


@media screen and (max-width: 750px) {

   .box{
    padding: 70px  0;
    width: 95%;
   }
.e_box{
  width: 100%;
}

   .t_box{
    padding: 70px  0;
    width: 95%;
   }

}


@media screen and (max-width: 750px) {
 
 .box h1{
   font-size: 28px;
 }

 .story-card-text{
  width: 90%;
 }

  .box h2{
   font-size: 18px;
 }

  .t_box h1{
   font-size: 28px;
 }

  .t_box h2{
   font-size: 18px;
 }


 .story-card-text h1{
     font-size: 28px;
 }

  .story-card-text h2{
     font-size: 20px;
 }

 .menu img{
  width: 80px;
  height: 25px;
 }

 .a_content {
    width: 100%;
 }

}


@media screen and (max-width: 500px) {
     .sub{
      width: 100%;
      min-width: 100%;
     }


     .lable h2{
      font-size: 15px;
     }

     .a_content h4{
      font-size: 13px;
     }

     .d_icon{
      width: 95%;
      transform: translateX(-45%);
      bottom: 20px;
     }

     .menu{
      margin: 0px 10px;
     }

     .showcase{
      height: 470px;
     }
}